@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model DeleteModel
@{
}

<h3>Delete Medarbejder</h3>
<hr/>
<div class="row">
	<div class="col-md-4">
		<form method="post">
			<input type="hidden" asp-for="Drt.RowVersion" class="form-control" />
			<input type="hidden" asp-for="Drt.MedarbejderId" class="form-control" />
			<table class="table table-hover">
				<thead>
					<tr>
						<th scope="col">Navn</th>
						<th scope="col">Email</th>
						<th scope="col">Telefon</th>
						<th scope="col">Job</th>
					</tr>
				</thead>
				<tbody>

					<tr class="table-danger">
						<th scope="row">@Model.Drt.Fornavn @Model.Drt.Efternavn</th>
						<th scope="row">@Model.Drt.Email</th>
						<th scope="row">@Model.Drt.Telefon</th>
						<th scope="row">@Model.Drt.Job</th>
					</tr>
				</tbody>
			</table>
			<div class="form-group">
				<input type="submit" value="Delete Medarbejder" class="btn btn-danger form-control"/>
			</div>
		</form>
	</div>
</div>

<div>
	<a asp-page="Index">Back to List</a>
</div>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}