@page
@model DeleteModel
@{
}
<h3>Delete Kunde</h3>
<hr/>
<div class="row">
	<div class="col-md-4">
		<form method="post">
			<input type="hidden" asp-for="Drt.RowVersion" class="form-control"/>
			<input type="hidden" asp-for="Drt.Kid" class="form-control"/>
			<table class="table table-hover">
				<thead>
				<tr>
					<th scope="col">Navn</th>
					<th scope="col">Firmanavn</th>
					<th scope="col">CVR</th>
					<th scope="col">Adresse</th>
					<th scope="col">Email</th>
					<th scope="col">Telefon</th>
				</tr>
				</thead>
				<tbody>

				<tr class="table-danger">
					<th scope="row">@Model.Drt.Fornavn @Model.Drt.Efternavn</th>
					<th scope="row">@Model.Drt.Firmanavn</th>
					<th scope="row">@Model.Drt.Cvr</th>
					<th scope="row">@Model.Drt.Adresse</th>
					<th scope="row">@Model.Drt.Email</th>
					<th scope="row">@Model.Drt.Telefon</th>
				</tr>
				</tbody>
			</table>
			<div class="form-group">
				<input type="submit" value="Delete Kunde" class="btn btn-danger form-control"/>
			</div>
		</form>
	</div>
</div>

<div>
	<a asp-page="Index">Back to List</a>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}